<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yireo_test_generator>
            <general>
                <openai_enabled>0</openai_enabled>
                <openai_api_key/>
            </general>
        </yireo_test_generator>
    </default>
</config>
