<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="Yireo_TestGenerator::generate" xsi:type="object">Yireo\TestGenerator\Console\Command\GenerateCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\TestGenerator\Generator\UnitTestGeneratorListing">
        <arguments>
            <argument name="testGenerators" xsi:type="array">
                <item name="openai" xsi:type="array">
                    <item name="class_name" xsi:type="string">Yireo\TestGenerator\Generator\UnitTest\OpenAiTestGenerator</item>
                    <item name="sort_order" xsi:type="number">100</item>
                </item>
                <item name="anthropic" xsi:type="array">
                    <item name="class_name" xsi:type="string">Yireo\TestGenerator\Generator\UnitTest\AnthropicAiTestGenerator</item>
                    <item name="sort_order" xsi:type="number">100</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\TestGenerator\Generator\IntegrationTestGeneratorListing">
        <arguments>
            <argument name="testGenerators" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="class_name" xsi:type="string">Yireo\TestGenerator\Generator\IntegrationTest\ConfigTestGenerator</item>
                    <item name="sort_order" xsi:type="number">0</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
